*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.home{
    background-image: url(../img/background/section1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

.header{
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 220px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.section-title{
    margin-bottom:62px;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.section-title p{
    color: #ffff;
}

.under_line {
    position: relative;
    padding-bottom: 50px;
}

.under_line::after,
.under_line::before{
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%); 
}

.under_line::after{
    margin-left: -10px;
}

.under_line::before{
    margin-right: -10px;
    bottom: -5px;
}

/* HEADER START */
.top-menu{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 120px;
}

.top-menu-logo{
    display: flex;
    align-items: center;
}

.top-menu-logo-hexagon {
    position: relative;
    width: 60px; 
    height: 34.64px;
    background-color: #18cfab;
    margin: 17.32px 0;
}

.top-menu-logo-hexagon-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: #ffff;
    font-weight: bold;
}
  
  .top-menu-logo-hexagon:before,
  .top-menu-logo-hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  
  .top-menu-logo-hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid #18cfab;
  }
  
  .top-menu-logo-hexagon:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid #18cfab;
  }
  
.top-menu-logo-text {
    margin: 0 auto;
    margin-left: 10px;
    color: #ffffff; 
    font-size: 32px;
}

.top-menu-logo-text:last-child{
    margin: 0 auto;
}

.top-menu-list{
    text-transform: uppercase;
    display: flex;
}

.top-menu-list-item{
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.top-menu-list-item-clear{
    margin-right: 0;
}

.top-menu-list-item a{
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 600;
}

.fas {
    font-weight: 900;
    font-size: 22px;
}

.top-menu-list-item:hover a{
    color: #18cfab;
    transition: 0.3s;
}

.top-menu-list-item:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #18cfab;
}

.top-menu-list-item:hover:before{
    width: 100%;
}
/* HEADER END */

/* SLOGAN START */
.slogan-h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.slogan-h2 span{
    color: #18cfab;
}

.slogan-h3{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 79px;
    text-align: center;
    margin-bottom: 40px;
}

.slogan-description{
    text-transform: capitalize;
    color: #b8b8b8;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 140px;
}
/* SLOGAN END */

/* BUTTON  PRIMARY  START */
.btn-primary{
    height: 66px;
    display: flex;
    justify-content: center;
    /* padding-bottom: 240px; */
}

.btn-primary-button{
    display: flex;
    height: 66px;
    width: 166px;
    background-color: #18cfab;
    border: #18cfab solid;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.btn-primary-button:first-child{
    margin-right: 30px;
}

.btn-primary-button-context{
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
}
/* BUTTON  PRIMARY  END */

/* OPTIONS START */
.options{
    margin-bottom: 85px;
}

.option-forms{
    display: flex;
    justify-content: space-around;
}

.option-forms-item{
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    position: relative;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    min-height: 320px;
    padding-top: 5px;
}

.option-forms-item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.dark{
    background-color: #1c2a33;
    color: #18cfab;
}

.dark::before{
    background-color: #18cfab;
}

.green{
    background-color: #18cfab;
    color: #ffffff;
}

.green::before{
    background-color: #ffffff;
}

.option-forms-item-img{
    height: 70px;
    margin-bottom: 20px;
}
/* OPTIONS END */

/* OUR  SERVICES  START */
.ourservices{
    min-height: 475px;
    
}



.ourservice-list-item-headline{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.ourservice-list-item-headline-name{
    width: 40%;
    height: 70px;
    text-transform: capitalize;
    font-size: 16px;
    background-color: #f8fcfe;
    border: #eff0f1 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.ourservice-list-item-headline-name.active {
    color: white;
    background-color: #18cfab;
}

.ourservice-list-item-headline-name.active:before {
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.ourservice-list-item-description{
    padding-top: 25px;
    height: 140px;
    display: flex;
}

.ourservice-list-item-description-img{
    flex-basis: 200px;
}

.ourservice-list-item-description-context{
    flex-basis: calc(100% - 200px);
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    padding-left: 20px;
}
/* OUR  SERVICES  END */

/* PURCHASE START */

.purchase{
    background-image: url(../img/background/section2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;
    padding-top: 130px;
    margin-bottom: 90px;
    position: relative;
}

.purchase::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.purchase-content{
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.purchase-content-title{
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.purchase-content-description{
    margin-bottom: 75px;
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* PURCHASE END */

/* OUR WORK START */

.ourwork{
    margin-bottom: 185px;
}


.ourwork-portfolio-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}   

.ourwork-portfolio-categories-item{
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    background-color: #f8fcfe;
    border: #eff0f1 solid 1px;
}

.ourwork-portfolio-categories-item:hover{
    color: #18cfab;
    transition: 0.3s;
}

.ourwork-portfolio-categories-item:before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #18cfab;
}

.ourwork-portfolio-categories-item:hover:before{
    width: 100%;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.portfolio-list-item{
    height: 213px;
    width: 288px;
    position: relative;
    
}

.portfolio-list-img{
    /* width: 288px;
    height: 210px; */
}

.portfolio-item-info{
    position: absolute;
    /* background-color: #f8fcfe; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    /* display: flex; */
    align-items: center;
    opacity: 0;
    width: 288px;
    height: 210px;
}

.portfolio-item-info-btn{
    position: absolute;
    padding-top: 45px;
    padding-bottom: 33px;
    position: relative;
    text-align: center;
    background-color: #f8fcfe;
}

.portfolio-item-info-btn_link{
    margin-right: 5px;
}

.portfolio-item-info-btn_search{
    
}

.portfolio-item-info-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #18cfab;
    text-align: center;
    padding-bottom: 12px;
    background-color: #f8fcfe;
}

.portfolio-item-info-category-name{
    font-size: 12px;
    color: #b8b8b8;
    text-align: center; 
    background-color: #f8fcfe;
    padding-bottom: 48px;
}

.portfolio-list-item:hover .portfolio-item-info{
    opacity: 1;
}

@keyframes item_to_item-info {
    0% {
        opacity: 0;
        transform: translate(-100%,-100%);
    }
    50% {
        opacity: 0.5;
        transform: translate(-100%,0%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/* OUR WORK END */

/* NEWS START */
.news{
    margin-bottom: 131px;
}

.news-list{
    display: flex;
    flex-wrap: wrap;
    Justify-content: space-between;
}

.news-list-item{
    height: 280px;
    width: 262px;
    margin-bottom: 46px;
}

.news-list-item-card{
    height: 208px;
    width: 262px;
    position: absolute;
}


.news-list-item-card-img{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-list-item-post{
    height: 280px;
    width: 262px;
    color: #717171;
    padding-top: 10px;
    position: relative;
    top: 191px;
}

.news-list-item-post-date{
    position: relative;
    background: #203e38;
    height: 66px;
    width: 66px;
    text-align: center;
    line-height: 24px;
    color: #eff0f1;
    padding: 8px;
    float: right;
    z-index: 1;
    margin-bottom: 208px;
}

.news-list-item-post-context{
    border: #ececec solid 1px;
    background: #f8fcfe;
    color: #717171;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    top: 15px;
}

.news-list-item:hover .news-list-item-post-date {
    background: #18cfab;
    color: white;
    transition: 0.3s;
}

.news-list-item:hover .news-list-item-post-context {
    color: #18cfab;
    transition: 0.3s;
}

.news-list-item-post-context-title{
    font-style: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.news-list-item-post-context-desc{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 15px;
}
/* NEWS END */


/* FEEDBACK START */

.feedback{
    background-image: url(../img/background/section-3.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 100px;
    margin-bottom: 90px;
    position: relative;
}

.feedback-quote{
    color: #18cfab;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    
}

.feedback-autor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-autor-person-expression{
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
    margin-bottom: 40px;
}

.feedback-autor-person-name{
    font-size: 18px;
    font-weight: 600;
    color: #18cfab;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.feedback-autor-person-position{
    font-size: 13px;
    text-align: center;
    color: #d8d8d8;
    margin-bottom: 30px;
}

/* предыдущая версия - старт */
.feedback-autor-person-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 55px;
}

.feedback-autor-person-foto-img{
    border-radius: 100%;
}

.feedback-autor-person-foto-img::before{
    border: rgba(16,76,75,0.4) 12px solid;
}

/* .feedback-autor-person-foto img{
    border: rgba(16,76,75,0.4) 12px solid;
    border-radius: 100%;
    height: 165px;
    width: 165px;
} */
/* предыдущая версия - конец */

/* следующая версия - старт */
/* .feedback-autor-person-photo{
    background-color: rgba(16,76,75,0.4);
    height: 165px;
    width: 165px;
    text-align: center;
    position: relative;
    border-radius: 100%;
}

.feedback-autor-person-photo-img{
    border-radius: 100%;
    position: absolute;

} */
/* следующая версия - конец */


.feedback-autor-list{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 485px;
}

.feedback-autor-list-person-foto{
    border: rgba(255, 255, 255, 0) 5px solid;
    border-radius: 100%;
    background-color: rgba(16,76,75,0.4);
    height: 70px;
    width: 70px;
}

.feedback-autor-list-person-foto{
    /* border: #18cfab 2px solid; */
}



/* .feedback-autor-list-person-foto::after{
    content: "";
    background-color: #18cfab;
    background-size: 90px 90px;
    display: block;
} */






/* FEEDBACK END */

/* GALLERY START */
.gallery{
    margin-bottom: 80px;
}

/* GALLERY END */

/* FOOTER START */
.copyright{
    background: #22353f;
    height: 110px;   
    display: flex;
    align-items: center;
    justify-content: center
}

.copyright-content{
    color: #b8b8b8;
}
/* FOOTER END */